<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1,h2,h3,h4,h5,h6{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Blog HOME</h1>
    {% for post in posts %}
    <div>
        <h2><a href="{% url 'blogdetail' post.id %}"> {{post.title}}</a></h2>
        <h5>{{post.body}}</h5>
        작성일 : {{post.write_date}}
        <br>
        수정일 : {{post.modify_date}}
        <hr>
    </div>
    
    {% endfor %}
</body>
</html>